.modal{

	z-index: 8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	display: none;
	text-align: center;

	&.show{
		display: block;
	}

	&:after{
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.modal-content{

		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: 0;
		overflow: hidden;
		max-width: calc(e("100% - 8vw"));
		width: 40em;
		margin: auto;
		opacity: 0;
		color: @white;
		background: @cari-blue;
		text-align: center;
		box-sizing: border-box;

		&.show{
			padding: 3em 1em;
			height: auto;
			opacity: 1;
			animation-name: getmokickfadedown;
			animation-duration: 600ms;
			animation-timing-function: @easeOutQuart;
			animation-fill-mode: forwards;

			@-webkit-keyframes getmokickfadedown{
				0%{
					transform: translateY(60px);
				}
				100%{
					transform: translateY(0%);
				}
			}
			@keyframes getmokickfadedown{
				0%{
					transform: translateY(60px);
				}
				100%{
					transform: translateY(0%);
				}
			}

			@media @tablet{
				padding: 2em 4em;
			}
		}

		&.form{
			button,
			.button{
				margin: 1.5em auto .5em auto;
			}
		}

		&.alert{
			div.close{
				display: none;
			}
			p {
				button,
				.button {
					display: inline-block;
					margin: 0 .5em;
					&+br{
						display: none;
					}
				}
			}
		}

		>:last-child{
			margin-bottom: 0;
		}

		.content{
			display: inline-block;
		}

		div.close{
			position: absolute;
			top: 0;
			right: 0;
			width: 2.5em;
			height: 2.5em;
			padding: .5em;
			background: url("img/close.svg");
			background-size: 2em auto;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		button.close{
			margin-top: 2em;
			margin-bottom: 0;
		}
	}
}

.modal-backdrop{

	// transition: opacity 500ms ease-out;
	z-index: 6;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: @cari-yellow;
	opacity: 0;
	display: none;

}
